
<div class="jumbotron">


<img src='/{{project.image}}' height="100px" width="100px" />

<p>
{{project.full_name}}

</p>


<h6>
{{ user.socialaccount_set.all.0.extra_data.name }}
</h6>


<a href="/profile/{{project.social_account.user.username}}">View {{project.social_account.user.username}} Profile</a>

<a href="/project/{{project.social_account.user.username}}/{{project.git_link}}">View Project</a>

<a href="/accounts/profile/edit_project/{{project.id}}">Edit Project</a>


<a href="/accounts/profile/delete_project/{{project.id}}">DeleteProject</a>






{% if project.organization %}


<a href="/org/{{project.organization.name}}">{{project.organization.full_name}}</a>




<img src='/{{project.organization.image}}' height="100px" width="100px" />

{% endif %}






</div>
