
{% extends 'Base.html' %}



{% block content %}


<h1>

{{page_title}}

</h1>

{% if org_image %}

<img src='/{{org_image}}' height="100px" width="100px" />

{% endif %}


{% include "pagination.html" with page=profiles_in_db %}



<div id="available_repos">


{% for profile in profiles_in_db %}


<div class="jumbotron">


<img src='{{profile.extra_data.avatar_url}}' height="100px" width="100px" />

<h2>
{{profile.extra_data.name}}

</h2>








<a href="/profile/{{profile.user.username}}">View {{profile.user.username}} Profile</a>

<a href="/project/byuser/{{profile.user.username}}">View Projects</a>

<a href="http://github.com/{{project.user.username}}">View on Github</a>



{% if profile.organization %}


<a href="/org/{{profile.organization.name}}">{{profile.organization.full_name}}</a>



{% comment %} <h6>
{{project.organization.full_name}}
</h6> {% endcomment %}



<img src='/{{profile.organization.image}}' height="100px" width="100px" />

{% endif %}






</div>








{% endfor %}


</div>








{% endblock %}