








<div class="card mb-3" style="min-width: 100%;">
      <div class="row no-gutters">
                    <div class="col-md-4">
                                        <div class="view view-cascade overlay image-card ">



                                      <img src='/{{project.image}}' class="" height="200px" width="200px" />


                                      <a href="/projects/{{project.id}}">
                                            <div class="mask rgba-black-strong flex-center">

                                                  <p class="white-text">View

                                                  </p>
                                              </div>
                                          </a>
                                        </div>

                    </div>
    <div class="col-md-8">
      <div class="card-body">
              <h5 class="card-title">{{project.full_name}}</h5>


                 

  

                    <p class="card-text ">
                    
              
                  <p class="text-truncate">{{project.description}}</p>

                    
                    
                    </p>
                    
        
        
                                    
                             <div class='d-flex flex-row'>
        

        
        
                       {% include "students/icon.html" with student=project.social_user %}
                              {% if project.university %}
                                            {% include "unis/icon.html" with uni=project.university %}

                                            {% endif %}

                              </div>


                               
          


                            {% if project.social_user == user.socialaccount_set.all.0  %}

  <div class='d-flex flex-row-reverse'>

                            <a href="/accounts/profile/edit_project/{{project.id}}">

                                    <button class="btn btn-info  ">

                                      Edit

                                    </button>

                            </a>



                            <a href="/accounts/profile/delete_project/{{project.id}}">

                                    <button class="btn btn-danger ">

                                      Delete
                                      
                                    </button>

                            </a>
          

               

 </div>
                            {% endif %}
                           
        
        
    


      </div>
    </div>
  </div>


</div>


















{% comment %} 
<!-- Card Wider -->
<div class="card card-cascade wider col-lg-4 col-md-6 mb-4">

  <!-- Card image -->
  <div class="view view-cascade overlay">
     <img src='/{{project.image}}'class="card-img-top"  />
    <a href="/projects/{{project.id}}">

      <div class="mask rgba-black-strong flex-center">   <p class="white-text">View

            </p></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center pb-0">

    <!-- Title -->
    <h4 class="card-title"><strong>{{project.full_name}}</strong></h4>
    <!-- Subtitle -->

    
    <h5 class="blue-text pb-2"><strong>{{project.assigned_project.full_name}}</strong></h5>
    <!-- Text -->
  <p class="card-text">{{project.description}}</p> 


  








      </div>




  <!-- Card footer -->
  <div class="card-footer text-muted text-center">





    <div class="d-flex flex-row justify-content-between">
   
{% include "students/icon.html" with student=project.social_user %}




{% if project.social_user == user.socialaccount_set.all.0  %}



<a href="/accounts/profile/edit_project/{{project.id}}">

        <button class="btn btn-info btn-circle m-1  ">

          <i class="fa fa-edit"></i>

        </button>

</a>



<a href="/accounts/profile/delete_project/{{project.id}}">

        <button class="btn btn-danger btn-circle m-1 ">

          <i class="fa fa-trash"></i>
          
        </button>

</a>


{% endif %}






{% if project.university %}
              {% include "unis/icon.html" with uni=project.university %}

              {% endif %}

      







  </div>







  </div>








</div>
<!-- Card Wider --> {% endcomment %}




















{% comment %} 
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#">
              <img src='/{{project.image}}'class="card-img-top" height="100px" width="100px" />
        
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">{{project.full_name}}</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
              </div>
              <div class="card-footer">





{% include "students/icon.html" with student=project.social_user %}



{% if project.university %}
              {% include "unis/icon.html" with uni=project.university %}

              {% endif %}





                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div> {% endcomment %}

{% comment %} 
<div class="jumbotron">


<img src='/{{project.image}}' height="100px" width="100px" />

<h2>
{{project.full_name}}

</h2>
<a href="/projects/{{project.id}}">View Project</a>






{% if project.social_user == user.socialaccount_set.all.0  %}

<a href="/accounts/profile/edit_project/{{project.id}}">Edit Project</a>


<a href="/accounts/profile/delete_project/{{project.id}}">DeleteProject</a>


{% endif %}


{% include "students/icon.html" with student=project.social_user %}



{% include "unis/icon.html" with uni=project.university %}




</div> {% endcomment %}
