


{% extends 'Base.html' %}



{% block content %}

<div class="container">

<div class="jumbotron">


<img src='/{{project.image}}' height="100px" width="100px" />

<h2>
{{project.full_name}}

</h2>




    {% comment %} <a href="/projects/{{project.id}}" class="btn btn-default">View Project</a> {% endcomment %}

{% if project.social_user == user.socialaccount_set.all.0  %}

<a href="/accounts/profile/edit_project/{{project.id}}" class="btn btn-primary">

Edit


</a>


<a href="/accounts/profile/delete_project/{{project.id}}" class="btn btn-danger">
Delete
</a>


{% endif %}





{% include "unis/icon.html" with uni=project.university %}







{% include "students/icon.html" with student=project.social_user %}



</div>

<div class="jumbotron">

<h2>
Description
</h2>

  <p class="card-text">{{project.description}}</p>
</div>


</div>




{% endblock %}

