<div class="jumbotron">


 
  <div class="d-flex flex-column justify-content-center align-items-center">

  <a href="/unis/{{uni.id}}" style='text-decoration:none;' class="d-flex flex-column justify-content-center align-items-center">
    <img src="/{{uni.image}}" height="100px" width="100px" />

    <h2>{{uni.full_name}}</h2>

    </a>

    <div class="d-flex flex-row justify-content-center">
     

      <a href="/projects/byuni/{{uni.id}}" class="btn btn-primary"
        >View Projects</a
      >

      {% comment %}
      <a href="/students/byuni/{{uni.id}}" class="btn btn-primary"
        >View students</a
      >
      {% endcomment %}

      <a href="http://{{uni.domain_name}}" class="btn btn-primary"
        >Visit Website</a
      >
    </div>
  </div>
</div>
