


  <div class="view view-cascade overlay">



<img src='/{{uni.image}}' class="rounded-circle" height="50px" width="50px" />


<a href="/unis/{{uni.id}}">
      <div class="mask rounded-circle rgba-black-strong flex-center">

            <p class="white-text">View

            </p>
        </div>
    </a>
  </div>









{% comment %} 
<h2>
{{uni.full_name}}

</h2> {% endcomment %}




{% comment %} <a href="/projects/byuni/{{uni.id}}">View Projects</a>

<a href="/students/byuni/{{uni.id}}">View students</a>


 {% endcomment %}


