


{% extends 'Base.html' %}



{% block content %}

<div class="container">

<div class="jumbotron">


<img src='/{{uni.image}}' height="100px" width="100px" />

<h2>
{{uni.full_name}}

</h2>


<a href="/projects/byuni/{{uni.id}}" class="btn btn-primary">View Projects</a>

<a href="/students/byuni/{{uni.id}}" class="btn btn-primary">View students</a>

<a href="http://{{uni.domain_name}}" class="btn btn-primary">Visit Website</a>




</div>

<div class="jumbotron">

<h2>
Description
</h2>

  <p class="card-text">{{uni.description}}</p>
</div>


</div>


{% endblock %}

