{% extends 'Base.html' %} {% block content %}

<div class="container">
  <div class="jumbotron">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <img src="/{{uni.image}}" height="100px" width="100px" />

      <h2>{{uni.full_name}}</h2>

      <div class="d-flex flex-row justify-content-center">
        <a href="/projects/byuni/{{uni.id}}" class="btn btn-primary"
          >View Projects</a
        >

        {% comment %}
        <a href="/students/byuni/{{uni.id}}" class="btn btn-primary"
          >View students</a
        >
        {% endcomment %}

        <a target="_blank" href="http://{{uni.domain_name}}" class="btn btn-primary"
          >Visit Website</a
        >
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <h2>Description</h2>

    <p class="card-text">{{uni.description}}</p>
  </div>
</div>

{% endblock %}
