

<!-- Card Wider -->
<div class="card card-cascade wider col-lg-4 col-md-8 mb-8">

  <!-- Card image -->
  <div class="view view-cascade overlay">
  <img src='{{student.get_avatar_url}}' class="card-img-top rounded-circle"  />

    <a href="/students/{{student.id}}">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center pb-0">

    <!-- Title -->
    <h4 class="card-title"><strong>{{student.extra_data.name}}</strong></h4>
    <!-- Subtitle -->

    
    <h5 class="blue-text pb-2"><strong>{{student.university.full_name}}</strong></h5>
    {% comment %} <!-- Text -->
    <p class="card-text">{{student.bio}} </p>
 {% endcomment %}


    <a href="/projects/bystudent/{{student.id}}" class="btn btn-primary">View Projects</a>



    {% comment %} <!-- Linkedin -->
    <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
    <!-- Twitter -->
    <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
    <!-- Dribbble -->
    <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a> {% endcomment %}

      </div>

{% if student.university %}
  <!-- Card footer -->
  <div class="card-footer text-muted text-center">


              {% include "unis/icon.html" with uni=student.university %}

            
  </div>

  {% endif %}

</div>
<!-- Card Wider -->


{% comment %} 
<div class="jumbotron">


<img src='{{student.get_avatar_url}}' height="100px" width="100px" />

<h2>
{{student.extra_data.name}}

</h2>



<a href="/students/{{student.id}}" class="btn btn-primary">View Student</a>

<a href="/projects/bystudent/{{student.id}}" class="btn btn-primary">View Projects</a>





{% include "unis/icon.html" with uni=student.university %}



</div> {% endcomment %}