


<a href="/students/{{student.id}}">

<img src='{{student.get_avatar_url}}' class="rounded-circle" height="50px" width="50px" />

</a>



{% comment %} <h2>
{{student.extra_data.name}}

</h2>
 {% endcomment %}

{% comment %} <img src='/{{ student.university.image }}' height="100px" width="100px" />

<h2>

{{student.university.full_name}}

</h2>
<a href="/unis/{{student.university.id}}">View Uni</a>
 {% endcomment %}




{% comment %} <a href="/projects/bystudent/{{student.id}}">View Projects</a>
 {% endcomment %}


