



      {% if student %}

            


  <div class="view view-cascade overlay image-icon">


<img src='{{student.get_avatar_url}}' class="rounded-circle" height="100%" width="100%" />

    <a href="/students/{{student.id}}">
      <div class="mask rounded-circle rgba-black-strong flex-center">

            <p class="white-text">View

            </p>
        </div>
    </a>
  </div>


   {% endif %}







{% comment %} <h2>
{{student.extra_data.name}}

</h2>
 {% endcomment %}

{% comment %} <img src='/{{ student.university.image }}' height="100px" width="100px" />

<h2>

{{student.university.full_name}}

</h2>
<a href="/unis/{{student.university.id}}">View Uni</a>
 {% endcomment %}




{% comment %} <a href="/projects/bystudent/{{student.id}}">View Projects</a>
 {% endcomment %}


