


{% extends 'Base.html' %}



{% block content %}

<div class="container">

<div class="jumbotron">


<img src='{{ student.get_avatar_url }}' height="100px" width="100px" />

<h2>

{{student.extra_data.name}}

</h2>

<a href="/projects/bystudent/{{student.id}}" class="btn btn-primary">View Projects</a>


{% if user.socialaccount_set.all.0 == student %}


<a href="/accounts/profile/edit" class="btn btn-primary">Edit Profile</a>

<a href="/accounts/profile/my_projects" class="btn btn-primary">My Projects</a>





{% endif %}

{% if student.university %}


{% include "unis/icon.html" with uni=student.university %}


{% endif %}



</div>

</div>




{% endblock %}

