


{% extends 'Base.html' %}



{% block content %}

<div class="jumbotron">


<img src='{{ student.get_avatar_url }}' height="100px" width="100px" />

<h2>

{{student.extra_data.name}}

</h2>




<img src='/{{ student.university.image }}' height="100px" width="100px" />

<h2>

{{student.university.full_name}}

</h2>




<a href="/unis/{{student.university.id}}">View Uni</a>



<a href="/students/{{student.id}}">View Student</a>

<a href="/projects/bystudent/{{student.id}}">View Projects</a>





</div>




{% endblock %}

