
{% extends 'Base.html' %}



{% block content %}






    
          <div class="image-aboutus-banner"style="margin-top:0px;height: 700px;">
       

                                <div class='d-flex justify-content-center align-items-center container' style="margin-top:0px; width:100%; height: 100%;">

                                                <form class="form-inline d-flex justify-content-center align-items-center" action="/search" method="get" >

                                                <input name='q' class="form-control form-control-lg" type="text" placeholder="Search">

                                      


                                        <input style='width:100%' type='submit' class="btn btn-primary btn-lg" value='Search Projects' />

                                </form>

             </div>
 
      </div>




{% endblock %}


