{% extends 'Base.html' %}



{% block content %}



{% comment %} <form action="{% url 'search:search_projects' %}" method="GET" value="{{request.GET.q}}">
Search <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search posts"/>
<input type="submit" name="submit" value="Search"/>
</form> {% endcomment %}


{% comment %} {% if submitbutton == 'Search' and request.GET.q != '' %}

{% endif %} {% endcomment %}



<div class='container jumbotron'>

                            <div class='d-flex justify-content-center align-items-center container' style="margin-top:0px; width:100%; min-height: 100px; max-height: 200px;">

                                                <form class="form-inline d-flex justify-content-center align-items-center" action="/search" method="get" >

                                                <input name='q' class="form-control form-control-lg" type="text" placeholder="Search">

                                      


                                        <input style='width:100%' type='submit' class="btn btn-primary btn-lg" value='Search Projects' />

                                </form>

             </div>
  

</div>




{% if projects %}


<br/><br/>

<div class='container'>

<div class='row'>

{% for project in projects %}

{% include "projects/card.html" with project=project %}



{% endfor %}


</div>
</div>


{% else %}




{% endif %}


{% endblock %}


