

{% extends 'Base.html' %}







{% block content %}

{% comment %} 
 <h2 class="container jumbotron animate__animated animate__fadeInRight h1-responsive font-weight-bold my-5" align='center'>About Page</h2>
 {% endcomment %}

          <div class="image-aboutus-banner"style="margin-top:0px;height: auto;">
         <div class="container">
          <div class="row">
              <div class="col-md-12">
               <h1 class="lg-text">About Us</h1>
        
               <p class="image-aboutus-head">
                 
Why Collab:
       </p>
               <p class="image-aboutus-para">

Consider you are a Mechanical Engineering student, and you want to work on an idea/project (e.g. car) that requires some technical knowledge of other Engineering disciplines too. Now you want to make a team consisting of students from different departments. How will you do that? Will you contact the academic cell of those departments to circulate an email there and probably wait for days before getting a satisfactory reply? Or will you ask your limited number of friends, in real life or on social media, from required department? What if they are not interested and you do not have a large social circle? Or will you pin an announcement paper on the notice board of those departments which no one will ever see? You would just not do that because it is too hectic, and you will most likely lose your interest in your idea by then. What if there is a solution to all this?

       </p>
               <p class="image-aboutus-head">
What’s Collab:

       </p>
               <p class="image-aboutus-para">
Collab is an online data repository for making collaboration among students of different disciplines and universities, easy and convenient. This would make the real learning happen by fostering innovation in projects done by individuals of various backgrounds, but similar capabilities to work with.

       </p>
               <p class="image-aboutus-head">
What we do:

       </p>
               <p class="image-aboutus-para">
Establish an online platform with an articulate database in the back-end, maintaining a systematic arrangement of projects, start-ups and other initiatives by the students. Not only this, but it would also include their stories, motivation and challenges to help others to work upon or collaborate on these existing projects. This would form a state-of-the-art ecosystem for students, industry, and academia to work on problems together.
       </p>
               <p class="image-aboutus-head">

Our story:
       </p>
               <p class="image-aboutus-para">

It started when we were working on one of our projects. It took lots of time to find suitable members for our team and then after progress of a month, we found out that someone else from another university had already worked on a similar project in his FYP. So, actually we just re-did what he had done already, essentially resulting in zero progress. This can be called re-inventing the wheel. 

       </p>
               <p class="image-aboutus-para">
This made us realize about how this void in communication and collaboration results in a lot of projects with very high potential, getting dumped or go unrecognized because they get isolated and no one further works upon them, instead everyone starts their projects from scratch again… 
               </p>

<br>
<h1 class="lg-text">COLLAB</h1>

   
<iframe width="100%" height="700px" src="https://www.youtube.com/embed/G4ju8QMvOlc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   
             </div>
          </div>
      </div>
  </div>



{% endblock  %}