    <section class="jumbotron landing-display text-center  ">

    
      <div class="container flex-center rgba-black-light shadow p-3 mb-5 rounded" >

          <div class='flex-row'>
                  <div class="color-overlay"></div>
                  <h1 style="z-index: 1; color:#f7f7f7;" class="animate__animated animate__fadeInRight jumbotron-heading">COLLAB </h1>
                  <p style="z-index: 1; font-size:30px;" class ="animate__animated animate__fadeInRight special" style=" color: #eceeef;">THE ONLINE PROJECT UNIVERSE.</p>
                  <p>
                    <a href="#" class="animate__animated animate__fadeInRight btn btn-primary">Search Projects</a>
                  </p>

              <div>
          </div>
    </section>

