{% extends 'Base.html' %} 

{% block content %} 


{% include "banner.html" %}

<section class="container jumbotron">
  <a href="/projects">
    <h1 align="center">Latest Projects</h1>
  </a>


</section>


<div class="container">
<div class="row">


  {% for project in projects %}
  
   {% include "projects/card.html" with project=project %} 
   
   {% endfor %}

</div>
</div>

{% comment %}

<!-- Call to Action -->
<section class="call-to-action text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">Ready to get started?</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form action="search">
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input
                type="text"
                name="q"
                class="form-control form-control-lg"
                placeholder="Search"
              />
            </div>
            <div class="col-12 col-md-3">
              <button
                type="submit"
                name="submit"
                value="projects"
                class="btn btn-block btn-lg btn-primary"
              >
                Search
              </button>

              <button
                type="submit"
                name="submit"
                value="users"
                class="btn btn-block btn-lg btn-primary"
              >
                Search Users
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endcomment %}



{% endblock %}
