

{% extends 'Base.html' %}







{% block content %}


<section class=" team-section text-center my-5">
  <!-- Section heading -->
  <h2 class="animate__animated animate__fadeInRight h1-responsive font-weight-bold my-5">Our Amazing Team</h2>
  <!-- Section description -->
  <p class=" animate__animated animate__fadeInRight grey-text w-responsive mx-auto mb-5">This is our great team which has put endless efforts to make collab 
  a reality.</p>



  <!-- Grid row -->
  <div class="justify-content-center row ">

    <!-- Grid column -->
    <div style="margin:50px;" class=" animate__animated animate__fadeInRight col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img style="height: 300px;width: 300px;" src="/static/team/ahmad.jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">MUHAMMAD AHMED</h5>
      <p class="text-uppercase blue-text"><strong>Project Lead</strong></p>
      <p class="grey-text">Mechanical Engineer student at Nust. Passionate about promoting innovation, automation and changing the education system of Pakistan</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a target='_blank' href='https://www.facebook.com/MuhammadAhmad096' class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f blue-text"> </i>
        </a>
        {% comment %} <!-- Twitter -->
        <a class="p-2 fa-lg tw-ic">
          <i class="fab fa-twitter blue-text"> </i>
        </a>
        {% endcomment %}
        <!-- Instagram -->
        <a target='_blank' href='https://www.instagram.com/mahmad.096' class="p-2 fa-lg ins-ic">
          <i class="fab fa-instagram blue-text"> </i>
        </a> 
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div style="margin:50px;" class=" animate__animated animate__fadeInRight col-lg-3 col-md-6 mb-lg-0 mb-5">
      <div class="avatar mx-auto">
        <img style="height: 300px; width: 300px;" src="/static/team/huzaifa.jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">HUZAIFA IRFAN</h5>
      <p class="text-uppercase blue-text"><strong>Technical Lead</strong></p>
      <p class="grey-text">A Passionate Code and Tech Enthusiast who Loves to Code to Solve Real Life Problems</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a target='_blank' href='https://www.facebook.com/huzaifairfan2001/' class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f blue-text"> </i>
        </a>
        
   <!-- Github -->
        <a target='_blank' href='https://github.com/HuzaifaIrfan' class="p-2 fa-lg ins-ic">
          <i class="fab fa-github blue-text"> </i>
        </a> 

           <!-- Github -->
        <a target='_blank' href='http://huzaifairfan.com/' class="p-2 fa-lg ins-ic">
 
          <i class="fas fa-globe blue-text"></i>
        </a> 
      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div style="margin:50px;" class=" animate__animated animate__fadeInRight col-lg-3 col-md-6 mb-md-0 mb-5">
      <div class="avatar mx-auto">
        <img style="height: 300px;width: 300px;" src="/static/team/ahmedali.jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">Ahmed Ali Niazi</h5>
      <p class="text-uppercase blue-text"><strong>Graphics Lead</strong></p>
      <p class="grey-text">Aspiring Freshman from SEECS looking to make his impact in the world.Quick to learn and even quicker to adapt </p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a target='_blank' href='https://www.facebook.com/ahmad.hamza.9212301' class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f blue-text"> </i>
        </a>
        <!-- Instagram -->
        {% comment %} <a class="p-2 fa-lg ins-ic">
          <i class="fab fa-instagram blue-text"> </i>
        </a>
        <!-- Dribbble -->
        <a class="p-2 fa-lg ins-ic">
          <i class="fab fa-dribbble blue-text"> </i>
        </a> {% endcomment %}
      </ul>
    </div>
    <!-- Grid column -->




    <!-- Grid column -->
    <div style="margin:50px;" class=" animate__animated animate__fadeInRight col-lg-3 col-md-6">
      <div class="avatar mx-auto">
        <img style="height: 300px;width: 300px;" src="/static/team/saad.jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">MUHAMMAD SAAD</h5>
      <p class="text-uppercase blue-text"><strong>Project Manager</strong></p>
      <p class="grey-text">Though classrooms are important but true innovation can not be fostered without doing projects yourself for good. It's rightly said that one plus one is eleven and we are here to make that eleven possible</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a target='_blank' href='https://www.facebook.com/profile.php?id=100018202804637' class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f blue-text"> </i>
        </a>

      </ul>
    </div>
    <!-- Grid column -->
    <div style="margin:50px;" class=" animate__animated animate__fadeInRight col-lg-3 col-md-6">
      <div class="avatar mx-auto">
        <img style="height: 300px; width: 300px;" src="/static/team/saleha.jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-3">SALEHA GHAZANFER</h5>
      <p class="text-uppercase blue-text"><strong>HR MANAGER</strong></p>
      <p class="grey-text">Anxious to learn and have a genuine enthusiasm for the courses I am taking at the university as a Mechanical engineering student. I am self-motivated and wish to use my skills to overcome challenges as I make progress.</p>
      <ul class="list-unstyled mb-0">
        <!-- Facebook -->
        <a target='_blank' href='https://www.facebook.com/Saleha.Ghazanfar' class="p-2 fa-lg fb-ic">
          <i class="fab fa-facebook-f blue-text"> </i>
        </a>
        <!-- Github -->
        {% comment %} <a class="p-2 fa-lg ins-ic">
          <i class="fab fa-github blue-text"> </i>
        </a> {% endcomment %}
      </ul>
    </div>
  </div>
  <!-- Grid row -->

</section>




{% endblock  %}